<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TbUserMapper">
    <select id="queryUserList" resultType="TbUser">
        SELECT
          *
        FROM
          tb_user
        <where>
            <if test="username != null and !''.equals(username.trim())">
                username LIKE '%' #{username} '%'
            </if>
        </where>
    </select>
</mapper>